@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor_primaria: #f2f4ff;
  --cor_secundaria: #acbbf5;
  --terceira: #6e75e6;
  --quarta: #4944be;
  --quinta: #3c399a;
  --sexta: #35357a;
  --set: #1b1a3c;
  --branco: #fff;
  --preto: #000;
  --azul: #365668;
  --cinza_metal: #acadb4;
  --cinza_escuro: #4c4d52;
  --bg: #e6e9f3;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
  box-sizing: border-box;
  letter-spacing: 0.5px;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  margin-top: 12rem;
}

body {
  background-color: var(--bg);
}

#hero{
  display: flex;
  padding-bottom: 15rem;
}

main{
  margin: 0 auto;
  width: min(100% - 4rem, 1200px);
  margin-top: 4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  background-color: var(--preto);
  padding: 0 10%;
  position: fixed;
  width: 85%;
  top: 0;
  left: 0;
  z-index: 100;
  margin-left: 15%;
}

header img {
  width: 10%;
  margin-top: 5px;
  padding: 5px;
  transition: transform 0.3s;
}
header img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 8px #ddf865b4);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  height: 75%;
  text-align: center;
}

header nav a {
  padding: 15px;
  text-decoration: none;
  color: var(--terceira);
  font-size: 2rem;
  font-weight: 600;
}

nav a:hover {
  color: var(--cinza_metal);
}

nav a::after{
  width: 0%;
  content: "";
  display: block;
  height: 2px;
  background-color: var(--cinza_metal);
  transition: 0.25s;
}
nav a:hover::after {
  width: 100%;
}

h1,
h2,
h3,
ul,
li {
  padding: 10px 0;
}
h1 {
  font-size: 5rem;
  color: var(--preto);
}
h2 {
  font-size: 4rem;
  text-align: start;
  padding: 4rem 0;
  color: var(--sexta);
}
h3 {
  font-size: 3rem;
  color: var(--terceira);
  text-align: start;
}

h2, h3{
  margin-top: 12rem;
}

h4 {
  font-size: 2.4rem;
  margin-top: 2.8rem;
}
li {
  font-size: 28px;
  margin: 0 40px;
  text-align: justify;
}
p {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  text-indent: 28px;
  text-align: justify;
}

ul {
  list-style: inside;
}

ul li {
  font-size: 2rem;
}

hr{
  margin: 1.8rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

article.img-card {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin: 30px;
}
section.img-content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 45rem;
  width: auto;
  border: var(--preto) 2px solid;
  border-radius: 1.5rem;
}

.img-card img {
  height: 100%;
  transition: all 750ms ease-out;
  object-fit: cover;
}

.img-card img:hover {
  transform: scale(1.2);
  margin: 20px;
}

.fake-aside{
  width: 15%;
  height: 100vh;
  background-color: none;
}


aside{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: var(--azul);
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
}
.container_aside{
  /* border: 1px solid red; */
}
.items{
  /* border: 1px solid green; */
}

aside h4{
  text-align: center;
}

aside a{
  font-size: inherit;
}

aside ol li{
  font-size: 2rem;
  color: #e2e2df;
}

aside ul li{
  font-size: 1.5rem;
  color: var(--bg);
}

aside ul li::marker{
  content: ' - ';
}

aside li{
  text-align: start;
}

footer{
  position: sticky;
  width: 100%;
  height: 15em;
  background-color: var(--preto);
  color: var(--branco);
  display: flex;
}

  footer img{
    width: 50%;
    margin-top: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  footer .copyright{
    width: 25%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  .container_footer {
    display: flex;
    justify-content: center;
    align-items: center; 
}

ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    color: #4d4d4d;
    background-color: #ffff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="spotify"] .filled,
.example-2 .icon-content a[data-social="spotify"] ~ .tooltip {
    background-color: #1db954;
}

.example-2 .icon-content a[data-social="pinterest"] .filled,
.example-2 .icon-content a[data-social="pinterest"] ~ .tooltip {
    background-color: #bd081c;
}

.example-2 .icon-content a[data-social="dribbble"] .filled,
.example-2 .icon-content a[data-social="dribbble"] ~ .tooltip {
    background-color: #ea4c89;
}

@media (max-width: 390px ) {
  html{
    font-size: 35.5%;
    margin-top: 10.5rem;
    padding-bottom: 7.5rem;
  }

  body{
    max-width: 1200px;
  }

header{ 
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: 12rem;
  }
}